<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:include="~{ head :: #head }"></head>

<body>

    <header th:include="~{ header :: #header }"></header>
    <main>
        <div id="formulaire">
            <div class="entete_formulaire" th:text="${entete_titre}"></div>
            <form name="deleteForm" action="" method="POST">
                <div class="message_block">
                    <div class="icon_message">
                        <span class="icone"><i class="fas fa-exclamation-triangle"></i>Attention</span>
                        <P th:text="${confirmation_text}"></P>
                    </div>

                    <button th:text="${button_submit_text}"></button>
            </form>
        </div>
    </main>
</body>

</html>