<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="~{ head :: #head }"></head>

<body>

    <header th:include="~{ header :: #header }"></header>
    <main>
        <div id="formulaire">
            <div class="entete_fenetre" th:text="${entete_titre}"></div>
            <form name="userForm" method="POST">
                <div id="users_input">
                    <div class="input-group mb-3">
                        <div class="input-group-text"><i class="fas fa-user-edit"></i>Nom</div>
                        <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom"
                            th:value="${u?.name}" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text"><i class="fas fa-portrait"></i></i>Photo</div>
                        <input type="text" class="form-control" name="photouser" id="photouser"
                            th:value="${u?.photouser}" autocomplete="off">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-text"><i class="fas fa-at"></i>Email</div>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                            th:value="${u?.email}" required autocomplete="off">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text"><i class="fas fa-key"></i></i>Mot de passe</div>
                        <input type="password" class="form-control" name="password" id="password_input"
                            th:required="${!is_edit}" placeholder="***" autocomplete="new-password">
                        <button type="button" class="btn btn-secondary" onclick="generatePassword()"><i
                                class="fas fa-dice"></i></button>
                    </div>

                </div>

                <div id="users_role">
                    <div class="input-group mb-3 ">
                        <div class="input-group-text me-3"><i class="fas fa-crown"></i>Rôle</div>
                        <div class="form-check me-3 my-auto">
                            <input class="form-check-input" type="radio" id="user" name="roles" value="ROLE_USER"
                                th:checked="${!as_admin}">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Utilisateur
                            </label>
                        </div>
                        <div class="form-check my-auto">
                            <input class="form-check-input " type="radio" id="admin" name="roles" value="ROLE_ADMIN"
                                th:checked="${as_admin}">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Administrateur
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" th:text="${button_submit_text}"></button>
            </form>
        </div>
    </main>
    <footer th:include="~{ footer :: #footer }"></footer>
</body>

</html>