<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="~{ head :: #head }"></head>

<body>

    <header th:include="~{ header :: #header }"></header>
    <main>
        <div id="liste_utilisateurs">
            <div class="entete_fenetre"> Liste des Utilisateurs</div>
            <div class="conteneur_fenetre">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Rôle</th>
                            <th>Photo</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-cogs"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="Utilisateur : ${liste_utilisateurs}">
                            <td th:utext="${Utilisateur.id}"></td>
                            <td th:utext="${Utilisateur.name}"></td>
                            <td th:utext="${Utilisateur.email}"></td>
                            <td th:utext="${Utilisateur.roles}"></td>
                            <td><a href="" th:utext="${Utilisateur.photouser}"
                                    th:href="@{'/profils/' + ${Utilisateur.photouser}}" target="popup"></a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{'/users/edit/' + ${Utilisateur.id}}"><i class="fas fa-edit"></i></a>
                                <a th:href="@{'/users/delete/' + ${Utilisateur.id}}"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <div class="fonctions" sec:authorize="hasRole('ROLE_ADMIN')">

                    <button data-bs-toggle="modal" data-bs-target="#adduserModal"
                        class="btn btn-success float-end">Nouvel Utilisateur</button>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="adduserModal" tabindex="-1" aria-labelledby="addUserModal" aria-hidden="true">
        <div class="modal-dialog">
            <form name="patientAddForm" method="POST" action="/users/add">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un utilisateur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div th:include="~{ utilisateurs/add_edit :: #users_input }"></div>
                        <div th:include="~{ utilisateurs/add_edit :: #users_role }"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Valider</button>
                        <button type="reset" class="btn btn-danger float-end">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer th:include="~{ footer :: #footer }"></footer>
</body>

</html>