<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/aa7abb9c95.js" crossorigin="anonymous"></script>

</head>

<body>
<main>
    <div id="formulaire">
        <div class="entete_formulaire" th:text="${entete_titre}"></div>
        <form name="patientForm" action="" method="POST">
            <div class="form_block">
                <div class="icon_champ">
                    <span class="icone"><i class="fas fa-user-edit"></i></span>
                    <input type="text" name="nom" th:placeholder="${placeholder_nom}" th:value="${value_nom}">
                    <input type="text" name="prenom" th:placeholder="${placeholder_prenom}"
                           th:value="${value_prenom}">
                </div>
            </div>
            <div class="form_block">
                <div class="icon_champ">
                    <span class="icone"><i class="fas fa-at"></i></span>
                    <input type="email" name="email" id="email" th:placeholder="${placeholder_mail}"
                           th:value="${value_mail}">
                </div>
                <div class="icon_champ">
                    <span class="icone"><i class="fas fa-phone-alt"></i></span>
                    <input type="tel" name="telephone" id="" th:placeholder="${placeholder_telephone}"
                           th:value="${value_telephone}">
                </div>
            </div>
            <div class=" form_block">
                <div class="icon_champ">
                    <span class="icone"><i class="fas fa-city"></i></span>
                    <select name="ville" id="ville">
                        <option value="" disabled selected>Ville</option>
                        <option th:each="ville : ${liste_villes}"
                                th:value="${ville.id}"
                                th:utext="${ville.nom}"></option>
                    </select>
                </div>
            </div>
            <button th:text="${button_submit_text}"></button>
        </form>
    </div>
</main>
</body>

</html>