<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/aa7abb9c95.js" crossorigin="anonymous"></script>

</head>

<body>
<main>
    <div id="formulaire">
        <div class="entete_formulaire" th:text="${entete_titre}"></div>
        <form name="patientForm" action="" method="POST">
            <div class="message_block">
                <div class="icon_message">
                    <span class="icone"><i class="fas fa-exclamation-triangle"></i>Attention</span>
                    <P th:text="${confirmation_text}"></P>
                </div>

                <button th:text="${button_submit_text}"></button>
        </form>
    </div>
</main>
</body>

</html>