html {
    height: 100%;
}

html, body {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(/img/back.jpg);
    background-size: 100%;
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 70px;
    background: linear-gradient(rgb(80, 80, 80), black);
    box-shadow: 0px 10px 15px lightblue;
    align-items: center;
    justify-content: space-between;
    color: white;
    align-self: flex-start;
}

footer {
    display: flex;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgb(80, 80, 80), black);
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
}

.text_footer {
    color: white;
}

footer div {
    padding: 0px 15px;
}

.header_logo {
    display: flex;
    font-family: "Baskerville Old Face", serif;
    padding-left: 150px;
    align-items: center;
    flex-direction: row;
}

.bulle_utilisateur {
    padding-right: 150px;
}

main {
    height: 97%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#login, #liste_utilisateurs, #erreur {
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: center;
    border: solid 1px gray;
    border-radius: 1px;
    background-color: white;
}

#liste_patients, #formulaire, #dashboard {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    border: solid 1px gray;
    border-radius: 1px;
    background-color: white;
}

.entete_fenetre {
    background-color: lightblue;
    padding: 15px;
    font-weight: bold;
    border-bottom: solid 1px gray;
}

#erreur .entete_fenetre {
    background-color: crimson;
    color: white;
}

#formulaire form, .conteneur_fenetre {
    display: flex;
    padding: 15px;
    flex-direction: column;
    overflow-y: auto;
    max-height: 70vh;
}

#dashboard .conteneur_fenetre {
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.personne {
    color: gray;
    font-weight: bold;
}

.form_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.message_block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 10px;
    flex-direction: column;
    align-content: center;
}

.form_block input, .form_block select {
    margin-right: 20px;
    margin-bottom: 20px;
    height: 30px;
    padding: 0 10px 0 10px;
    color: rgb(22, 22, 22);
    border: solid 1px lightgray;
}

.form_block input:focus, .form_block select:focus {
    outline: solid 2px deepskyblue;
}

.block_details input {
    margin-bottom: 5px;
}

.block_details label {
    font-size: x-small;
    color: gray;
    margin-bottom: 20px;
}

#email {
    width: 200px;
}

#adresse {
    width: 300px;
}

.image_profils {
    width: 35px;
    border-radius: 50%;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border: solid 1px lightgray;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    background-color: lightblue;
    border-radius: 3px 0 0 3px;
    font-size: small;
}

#erreur .icone {
    background-color: crimson;
    color: white;
}

.icon_champ {
    display: flex;
}

.icon_message {
    display: flex;
    align-items: center;
}

.icon_message p {
    padding-left: 15px;
}

#ville {
    width: 300px;
}

#login_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#dashboard .conteneur_fenetre {
    flex-wrap: wrap;
}

#dashboard i {
    padding-right: 10px;
}

.fonctions {
    display: flex;
    justify-content: flex-end;
}

.bulle_utilisateur {
    display: flex;
    justify-self: end;
    align-items: center;
}

footer a:any-link {
    color: white;
    text-decoration: none;
}

footer i {
    padding-right: 10px;
}

.input-group-text i {
    padding-right: 10px;
}