<footer id="footer">



    <div id="connect"><a th:href="${connection_url}"><i class="fas fa-key"></i><span
                th:text="${connection_message}"></span></a>
    </div>
    <div><a href="/"><i class="far fa-compass"></i>Menu</a></div>
    <div id="copyright">&copy; 2021 Atos</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form name="villeForm" method="POST"
                th:action="@{'/users/profil/' + ${#authentication.getPrincipal().getUser().getId()}}"
                autocomplete="off">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editer mon profil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:with="u=${#authentication.getPrincipal().getUser()}">
                        <div
                            th:include="~{ utilisateurs/add_edit :: #users_input( u=${u} , as_admin=false, is_edit = true ) }">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="reset" class="btn btn-danger float-end">Annuler</button>
                        <button type="submit" class="btn btn-secondary">Valider</button>
                    </div>
                </div>
            </form>
        </div>

</footer>