<footer id="footer">



    <div id="connect"><a th:href="${connection_url}"><i class="fas fa-key"></i><span
                th:text="${connection_message}"></span></a>
    </div>
    <div><a href="/"><i class="far fa-compass"></i>Menu</a></div>
    <div id="copyright">&copy; 2021 Atos</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</footer>