<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/aa7abb9c95.js" crossorigin="anonymous"></script>

</head>

<body>
<header th:include="~{ header :: #header }"></header>

    <body>
        <main>
            <div id="login">
                <div class="entete_formulaire">Connection</div>
                <form action="/patients/list" method="POST" id="login_form">
                    <input type="text" name="login" placeholder="Identifiant">
                    <input type="text" name="password" placeholder="Mot de passe">
                    <button>Connection</button>
                </form>
            </div>
        </main>

    </body>

</html>