<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:include="~{ head :: #head }"></head>

<body>
    <header th:include="~{ header :: #header }"></header>

    <body>
        <main>
            <div id="login">
                <div class="entete_fenetre">Connexion</div>
                <form name="login_form" action="" method="post" id="login_form">
                    <input type="email" name="username" placeholder="Identifiant">
                    <input type="password" name="password" placeholder="Mot de passe">
                    <button type="submit">Connexion</button>
                </form>
            </div>
        </main>
        <footer th:include="~{ footer :: #footer }"></footer>

    </body>

</html>