<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:include="~{ head :: #head }"></head>

<body>
    <header th:include="~{ header :: #header }"></header>

    <body>
        <main>
            <div id="login">
                <div class="entete_fenetre">Connexion</div>
                <form name="login_form" action="" method="post" id="login_form">
                    <div class="alert alert-danger" role="alert" th:if="${param.error}">
                        A simple danger alert—check it out!
                    </div>
                    <div class="form-floating mt-3 mb-3">
                        <input type="email" class="form-control" id="floatingInput" name="username">
                        <label for="floatingInput">Adresse email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" name="password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <button class="btn btn-outline-primary mb-3" type="submit">Connexion</button>
                </form>
            </div>
        </main>
        <footer th:include="~{ footer :: #footer }"></footer>

    </body>

</html>